$default-font: "Roboto Condensed",
sans-serif;
$second-font: 'PT Serif',
serif;
$accent-text: #888888;
$placeholder_color: $accent-text;
$preloader-color: $accent-text;

$light_grey: #c4c4c4;
$light_grey_hover: #4F4F4F;